@import url("https://fonts.googleapis.com/css?family=Comfortaa")

$backgroundGrey: #f2f2f2
$borderGrey: #f1f1f1
$borderWidth: 1px
$containerMaxWidth: 768px
$containerMinWidth: 320px
$highRatingMessageCount: #27aae1
$highRatingTitle: #9335ff
$lowRatingMessageCount: #e89d40
$lowRatingTitle: #e89d40
$messageBorderRadius: 2%
$messageCountBorderRadius: 16px
$messageCountFontSize: 0.8rem
$messageCountInnerPadding: 2px
$messageCountInnerWidth: 25%
$messageCountMarginBottom: 20px
$messageCountMarginTop: -40px
$messageCountPadding: 4px
$messageMargin: 40px
$messageMinHeigth: 80px
$messagePadding: 24px
$messagesStackHeight: 100%
$messagesStackLeft: 7px
$messagesStackTop: 5px
$messagesStackWidth: 100%
$messagesStackZIndex: -1
$messageTextFontSize: 0.9rem
$messageTextMargin: 8px
$messageWidth: 90%
$questionAndDateFontSize: 0.8rem
$questionAndDateTopMargin: 4px
$questionWidth: 80%
$textColor: #999999
$threeMessagesLeft: 12px
$threeMessagesTop: 10px
$threeMessagesZIndex: -2
$white: #FFFFFF

body
  background: $backgroundGrey
  font-family: Comfortaa
  color: $textColor

.container
  margin: auto
  max-width: $containerMinWidth
  min-width: $containerMaxWidth

.message
  background: $white
  border-radius: $messageBorderRadius
  border: $borderWidth solid $borderGrey
  box-shadow: 10px 5px 5px $borderGrey
  margin: auto
  margin-top: $messageMargin
  min-height: $messageMinHeigth
  padding: $messagePadding
  width: $messageWidth

.messageRow
  display: flex
  justify-content: space-between

.questionAndDate
  font-size: $questionAndDateFontSize
  margin-top: $questionAndDateTopMargin
  span
    &:nth-child(1)
      width: $questionWidth

.messageText
  font-size: $messageTextFontSize
  margin-top: $messageTextMargin

.highRating
  color: $highRatingTitle

.lowRating
  color: $lowRatingTitle

.messageCount
  color: $white
  display: flex
  font-size: $messageCountFontSize
  justify-content: right
  margin-bottom: $messageCountMarginBottom
  margin-top: $messageCountMarginTop
  padding: $messageCountPadding
  span
    border-radius: $messageCountBorderRadius
    padding: $messageCountInnerPadding
    text-align: center
    width: $messageCountInnerWidth
    &.messageCountHighRating
      background: $highRatingMessageCount
    &.messageCountLowRating
      background: $lowRatingMessageCount

.messagesStack,
  background-color: $white
  cursor: pointer
  position: relative

.messagesStack,
.messagesStack::before,
.messagesStack::after,
  box-shadow: 2px 1px 1px $borderGrey

.messagesStack::before,
.messagesStack::after
  background-color: $white
  border-radius: $messageBorderRadius
  content: ""
  height: $messagesStackHeight
  position: absolute
  width: $messagesStackWidth

.messagesStack::before
  left: $messagesStackLeft
  top: $messagesStackTop
  z-index: $messagesStackZIndex

.twoMessages::after
  left: $messagesStackLeft
  top: $messagesStackTop
  z-index: $messagesStackZIndex

.threeMessages::after
  left: $threeMessagesLeft
  top: $threeMessagesTop
  z-index: $threeMessagesZIndex
